{% include "navbar.html.twig" %}


{% block body %}
	<div class="contener2">
		<div class="centrage carte pad">
			{{ form_start(form)}}
			<div class="contimg">
				<img src="{{ asset('uploads/img/') ~ img }}" alt="">
			</div>
			<div class="divider"></div>
			<h4>
				{{ nomMat }}
			</h4>
			
			{{ form_end(form)}}
		</div>
	</div>
{% endblock %}
